#boxContainer{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 20px;
}

.box{

    height: 200px;
    width: 200px;
   

}

.boxChoice{
    position:absolute;
    bottom: -250px;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.249);
}